* {margin:0;padding:0;} 

body {
	padding: 0px;
	margin: 0 auto;
} 
 
.mainPage{
	width:1000px;
}
 
.ui-widget,.ui-widget .ui-widget {
	font-size: 11px !important;
}
tr {
	vertical-align: top;
	text-align: left;
} 

.menuStyle {
	margin: 5px 0 10px 0;
}


html,body {
	height: 100%;
}
 
#wrap {
	
}  
 
   
#footer2 {background-color: white;color:black;font-size:11px;font-family:Verdana, Arial, sans-serif;height:150px;} 
#footer2 a {color:black;text-decoration:none}
#footer2 a:hover {color:#804249;text-decoration:underline}
#footer2 a:visited  {color:black;text-decoration:underline}
#footer2 p {margin:0 0 15px 0}
#footer2 p.axe img {margin-bottom:-7px}
#foot2 {width:1000px;margin:0 auto;height:140px;line-height:1.1em;padding:0 10px 0 10px}

#foot2 #left {width:450px;float:left;padding-top:45px}
#foot2 #right {float:right;text-align:right;padding-top:45px}